.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    height: 80px;
    background-color: #24292e;
    position: fixed;
    width: 100%;
    z-index: 100;

}

.container > div > a {
    margin: 10px;   
}

.container > div > ul {
    display: flex;
}

.container > div > ul > li {
    cursor: pointer;    
    margin: 10px;
    color: white;
}

.containerLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;   
    color: white;
    font-size: 1rem;
}

@media(max-width: 550px){
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .containerLogo {
        justify-content: center;
    }
    .containerLogo > span{
        display: none;
    }
}
