.container {
    width: 100%;
}

.containerLogo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.titleVideos {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 2rem;
}

.containerVideos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.videos {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.videos > iframe{
    width: 33%;
    min-width: 400px;
    max-width: 550px;
    margin: 15px;
}