.container {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    color: white;
}

.containerLogo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.containerSocials {
    display: flex;
    justify-content: center;
    padding: 40px 0 0 0;
}

.containerSocials > a {
    margin: 20px;
}

.informationsFooter {
    padding: 10px 40px 15px 40px;
}

.informationsFooter > p {
    margin: 10px;
}

